# LETS USE SQL IN A NOTEBOOK

1. Type these in your terminal
PostgreSQL database: 

! pip install psycopg2-binary

Make sure to install psycopg2-binary, because it will also take care of the dependencies required.


Snowflake database: ! pip install snowflake-connector-python.


MySQL database: ! pip install mysql-connector-python.


2. Run the following code ⬇️

In [1]:
import os
import psycopg2 as ps
import pandas as pd


!pip install ipython-sql


import sqlalchemy


sqlalchemy.create_engine('postgresql://scott:tiger@localhost/mydatabase')

Requirement already satisfied: ipython-sql in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (2.0.12)
Requirement already satisfied: sqlparse in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: backcall in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: pickleshare in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: pygments>=2.4.0 in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: setuptools>=18.5 in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (61.2.0)
Requirement already satisfied: stack-data in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pexpect>4.3 in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: wcwidth in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /Users/shannoningram/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

Engine(postgresql://scott:***@localhost/mydatabase)

In [2]:
%load_ext sql

In [3]:
%sql sqlite://

In [4]:
%%sql
CREATE TABLE sales2
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);
INSERT INTO sales2
VALUES ('sale_1', '2019-11-08 00:00', 102230, TRUE, 1.1),
       ('sale_2', '2019-11-08 01:00', 102320, FALSE, 1.2),
       ('sale_3', '2019-11-08 01:00', 102010, TRUE, 1.3),
       ('sale_4', '2019-11-08 01:00', 102023, FALSE, 1.4),
       ('sale_5', '2019-11-08 02:00', 102008, TRUE, 1.5),
       ('sale_6', '2019-11-08 02:00', 102913, TRUE, 1.5);

 * sqlite://
Done.
6 rows affected.

[]

In [5]:
%%sql
select * from sales2;

 * sqlite://
Done.

[('sale_1', '2019-11-08 00:00', 102230, 1, 1.1),
 ('sale_2', '2019-11-08 01:00', 102320, 0, 1.2),
 ('sale_3', '2019-11-08 01:00', 102010, 1, 1.3),
 ('sale_4', '2019-11-08 01:00', 102023, 0, 1.4),
 ('sale_5', '2019-11-08 02:00', 102008, 1, 1.5),
 ('sale_6', '2019-11-08 02:00', 102913, 1, 1.5)]

In [6]:
#print()

In [1]:
#print("The above print() was made under bedroom and pulled into living room. This was made in living room and will be pulled into bedroom")

The above print() was made under bedroom and pulled into living room. This was made in living room and will be pulled into bedroom